[Unit]
Description=Weekly etelemetry MongoDB full base backup

[Timer]
OnCalendar=Sun *-*-* 02:00:00
Persistent=true

[Install]
WantedBy=timers.target
